header {
  background-color: #586c9190;
  box-shadow: 0 0.625rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.05);
  display: grid;
  padding: 1.5rem;
  place-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
