.flicker:hover {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: flicker;
}

nav {
  align-items: center;
  display: grid;
  place-content: center;
  width: 100%;
}

nav a {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #f4f7fc;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
}

nav li {
  align-items: center;
  display: flex;
  list-style: none;
}

nav ul {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
