main .about-me-container {
  background-color: red;
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 80%;
}

.about-me-container .personal-image-container img {
  border-radius: 15rem;
  box-sizing: border-box;
  height: 30rem;
  width: 30rem;
}

.personal-information-container,
.personal-image-container {
  padding: 1.5rem;
  width: 50%;
}
