.about-me-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.about-me-container h1 {
  box-sizing: border-box;
  color: #596079;
  font-family: "Gentium Plus", serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-align: justify;
}

.about-me-container h2 {
  color: #8fa4c3;
  font-family: "Macondo", cursive;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-align: justify;
}

.about-me-container p {
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: justify;
}

.about-me-container .personal-image-container img {
  align-items: center;
  border-radius: 15rem;
  box-sizing: border-box;
  display: flex;
  height: 30rem;
  justify-content: center;
  width: 30rem;
}

.personal-image-container {
  display: flex;
  justify-content: end;
}

.personal-information-container,
.personal-image-container {
  padding: 1.5rem;
  width: 50%;
}

.personal-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}
